<nav class="navbar">
  <div class="contenedor">
    <div class="contenedor_img">
      <img
        src="https://scontent.feoh2-1.fna.fbcdn.net/v/t39.30808-6/309642153_469921731847908_5015247279324104491_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=5NPvxiFVFh8AX8KyJ1D&_nc_ht=scontent.feoh2-1.fna&oh=00_AT_hQeiwm2iRu5RlAr9IbgIXhE3w3BW9Wzaxsdco8dKykQ&oe=634CDE22"
        width="70"
      />
    </div>
    <div class="flex lg:hidden">
      <i class="uil uil-align-justify" (click)="menu()"></i>
    </div>
    <div *ngIf="stateNav" class="lg:flex hidden flex-grow justify-between absolute lg:relative lg:top-0 top-10 left-0
    bg-stone-100 w-full lg:w-auto py-14 items-center px-8 sm:px-24 lg:py-0 lg:px-0" id="menu">
      <div class="contenedor_links_principal">
        <a [routerLink]="linksGeneral[0].router">{{linksGeneral[0].name}}</a>
        <a href="#">Directos</a>
        <a href="#">Publicaciones</a>
      </div>
      <div class="contenedor_botones_nav">
        <a [routerLink]="linksAuth[0].router" class="btn_sesion">{{linksAuth[0].name}}</a>
        <a [routerLink]="linksAuth[1].router" class="btn_registro">{{linksAuth[1].name}}</a>
      </div>
    </div>
    <div *ngIf="!stateNav" class="lg:flex hidden flex-grow justify-between absolute lg:relative lg:top-0 top-10 left-0
    bg-stone-100 w-full lg:w-auto py-14 items-center px-8 sm:px-24 lg:py-0 lg:px-0" id="menu">
      <div class="contenedor_links_principal">
        <a [routerLink]="linksGeneralAdmin[0].router">{{linksGeneralAdmin[0].name}}</a>
        <a href="#">Directos</a>
        <a [routerLink]="linksGeneralAdmin[1].router">{{linksGeneralAdmin[1].name}}</a>
        <a [routerLink]="linksGeneralAdmin[2].router">{{linksGeneralAdmin[2].name}}</a>
      </div>
      <div class="contenedor_botones_nav">
        <a (click)="logout()" class="btn_sesion">{{linksAuthAdmin[0].name}}</a>
      </div>
    </div>
  </div>
</nav>
